 <!-- Footer Section -->
 <section class="footer_section">
    <div class="container">
      <div class="row">
        <!-- Google Map -->
        <div class="col-md-4 col-lg-4 footer_col">
          <div class="google_map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d143115.42656336346!2d139.89424171356848!3d35.68140988400196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc6e4cc884cb319f%3A0xc072a0c7c34e57b6!2sACS%20%7C%20Abroad%20Creation%20All%20In%20One%20Solution!5e0!3m2!1sen!2snp!4v1717605835543!5m2!1sen!2snp"
              width="100%" 
              height="300" 
              style="border:0; border-radius: 10px;" 
              allowfullscreen="" 
              loading="lazy">
            </iframe>
          </div>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4 col-lg-2 footer_col">
          <div class="footer_link_box">
            <h4 class="footer_title">Quick Links</h4>
            <ul class="footer_links">
              <li><a href="index.html" class="active">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="why.html">Why Us</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="privacy.html">Privacy Policy</a></li>
              <li><a href="terms.html">Terms of Service</a></li>
            </ul>
          </div>
        </div>
  
        <!-- Contact Information -->
        <div class="col-md-4 col-lg-3 footer_col">
          <div class="footer_contact">
            <h4 class="footer_title">Contact Us</h4>
            <ul class="contact_list">
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Chiba Prefecture, Chiba City, Hanamigawa Ward, Hanazono 1-7-2, Dai -8, Hanazono Building-304 ward, 262-0025, Japan
              </li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                Tel: <a href="tel:+81433075334">+81 43-307-5334</a>
              </li>
              <li>
                <i class="fa fa-fax" aria-hidden="true"></i>
                FAX: <a href="fax:+81433075142">+81 43-307-5142</a>
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:info.acsjapan@gmail.com">info.acsjapan@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
  
        <!-- Social Media -->
        <div class="col-md-4 col-lg-3 footer_col">
          <div class="footer_social">
            <h4 class="footer_title">Follow Us</h4>
            <div class="social_links">
              <a href="https://www.facebook.com/profile.php?id=100094395917105" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/abroadcreationallinonesoution?igsh=MWt3cmpqYmk1OGl5&utm_source=qr" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p>&copy; 2024 ACS | All Rights Reserved</p>
        </div>
      </div>
    </div>
  </section>