<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container sticky-top">
        <a class="navbar-brand" href="../index.html" id="brand">
          <img src="../images/pagelogo.png" alt="ACS Logo" style="max-width:280px; height: 80px;">    
          <span class="brand-text">
            <span class="brand-name">ABOARD CREATION</span> <span class="brand-slogan">ALL IN ONE SOLUTION</span>
        </span>  
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="../index.html" id="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="../pages/about.html" id="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../pages/service.html" id="services">Services</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="../pages/why.html" id="profile">Profile</a>
            </li>
            <li class="nav-item">
              <div id="google_translate_element"></div>
              <label class="switch">
                <input type="checkbox" id="languageToggle" onchange="translatePage()">
                <span class="slider round"></span>
              </label>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>